attrs==25.3.0; python_version >= "3.7"
beautifulsoup4==4.13.3; python_full_version >= "3.6.0"
certifi==2025.1.31; python_version >= "3.7"
charset-normalizer==3.4.1; python_full_version >= "3.7.0" and python_version >= "3.7"
click==8.1.8; python_version >= "3.7"
colorama==0.4.6; python_version >= "3.7" and python_full_version < "3.0.0" and platform_system == "Windows" or platform_system == "Windows" and python_version >= "3.7" and python_full_version >= "3.7.0"
desert==2022.9.22; python_version >= "3.6"
idna==3.10; python_version >= "3.7"
marshmallow==3.22.0; python_version >= "3.8"
mypy-extensions==1.0.0; python_version >= "3.6"
oauthlib==3.2.2; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
packaging==24.2; python_version >= "3.8"
pyparsing==3.2.1; python_full_version >= "3.6.8" and python_version >= "3.8"
requests-oauthlib==2.0.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
requests==2.32.3; python_version >= "3.7"
soupsieve==2.6; python_version >= "3.8" and python_full_version >= "3.6.0"
tweepy==4.14.0; python_version >= "3.7"
typing-extensions==4.13.2; python_version >= "3.8"
typing-inspect==0.9.0; python_version >= "3.6"
urllib3==2.3.0; python_version >= "3.7"
